body {
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

div {
    margin: auto;
    margin-top: 10px;
    background-color:brown;
    color:cornsilk;
    height:30px;
    font-size: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width:400px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    background-color: brown;
    height: 50px;
    width: 50px;
    cursor: pointer;
    color: whitesmoke;
}

input {

    background-color: brown;
    height: 50px;
    width: 400px;
    cursor: pointer;
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 3px;
    border: none;
}

h1 {

margin: auto;
color: brown;
font-size: 60px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {

    margin: auto;
    background-color: brown;
    height: 50px;
    width:50px;
    cursor: pointer;
    color: whitesmoke;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;

}

table {
    margin: auto;
    width:fit-content;
}

table tr td {
    margin: auto;
    border: 1px solid yellow;
    width:50%;
}

hr {
    width: 50%;
    height: 5px;
    border-radius: 3px;
    background-color: brown;
}